# Heroes of Pymoli Data Analysis

In [114]:
# Import dependencies
import pandas as pd
import numpy as np

# Store file path in variable and read file with Pandas
dataFile = "../HeroesOfPymoli/purchase_data.json"
PymoliDF = pd.read_json(dataFile)

In [381]:
## Player Count
# Calculate total number of players

uniquePlayers = PymoliDF["SN"].nunique()
playerCountDF = pd.DataFrame({"Total Players": [uniquePlayers]})
playerCountDF

   Total Players
0            573

In [375]:
## Purchasing Analysis (Total) 
# Calculate Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue and assign variables

uniqueItems = PymoliDF["Item Name"].nunique()
avgPrice = PymoliDF['Price'].mean()
totalNumPurchases = PymoliDF["Price"].count()
totalRevenue = PymoliDF["Price"].sum()

# Print data frame for purchase analysis with specified columns
purchaseAnalysisDF = pd.DataFrame({"Number of Unique Items": [uniqueItems], 
                                   "Average Price": [avgPrice], 
                                   "Number of Purchases": [totalNumPurchases], 
                                   "Total Revenue": [totalRevenue]})\
                                   .style.format({"Average Price": "${:,.2f}", 
                                                  "Total Revenue": "${:,.2f}"})
purchaseAnalysisDF

In [383]:
## Gender Demographics
# Calculate percentage and count of Male, Female and Other/Non-Disclosed players

gCount = PymoliDF.groupby("Gender")["SN"].nunique()
gPercent = ((gCount / uniquePlayers)*100)

genderDemoDF = pd.DataFrame({"Percentage of Players": gPercent, "Total Count": gCount})\
                             .style.format({"Percentage of Players":"{0:.2f}%"})
genderDemoDF

In [377]:
## Purchasing Analysis (Gender)
# Calculate purchase count, avg puchase price, total purchase value and normalized totals by gender

pCount = PymoliDF.groupby("Gender")["Price"].count()
avgPurchPrice = round(PymoliDF.groupby("Gender")["Price"].mean(), 2)
tPurchValue = round(PymoliDF.groupby("Gender")["Price"].sum(), 2)
normTotal = round(tPurchValue / gCount, 2)

gPurchAnalysisDF = pd.DataFrame({"Purchase Count": pCount, 
                                 "Average Purchase Price": avgPurchPrice, 
                                 "Total Purchase Value": tPurchValue,
                                 "Normalized Totals": normTotal}).style.format({"Average Purchase Price":"${:,.2f}", 
                                                                                "Total Purchase Value":"${:,.2f}"})
gPurchAnalysisDF

In [378]:
## Age Demographics
# Calculate percentage of players and total count

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99] 
ageGroups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40>"]

PymoliDF["Age Group"] = pd.cut(PymoliDF["Age"], bins, labels=ageGroups)

ageGroupCount = PymoliDF.groupby("Age Group")['SN'].nunique()
ageGroupPercent = round((ageGroupCount / uniquePlayers)*100, 2)

ageGroupDemoDF = pd.DataFrame({"Percentage of Players": ageGroupPercent, 
                               "Total Count": ageGroupCount})\
                               .style.format({"Percentage of Players":"{0:.2f}%"})

ageGroupDemoDF

In [384]:
## Age Demographics
# Calculate purchase count, average purchase price, total purchase value and normalized total 
# in bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 

purchaseCount = PymoliDF.groupby("Age Group")["Price"].count()
avgPurchPrice = PymoliDF.groupby("Age Group")["Price"].mean()
tPurchValue = PymoliDF.groupby("Age Group")["Price"].sum()
normTotal = round((tPurchValue / ageGroupCount), 2)

agePurchAnalysisDF = pd.DataFrame({"Purchase Count": purchaseCount,
                                   "Average Purchase Price": avgPurchPrice,
                                   "Total Purchase Value": tPurchValue, 
                                   "Normalized Total": normTotal}).style.format({"Average Purchase Price":"${:,.2f}", 
                                                                                 "Total Purchase Value":"${:,.2f}" })
agePurchAnalysisDF

In [385]:
## Top Spenders
# Identify top 5 spenders by total purchase value: include SN, Purchase Count, Avg Purchase Price, Total Purchase Price
 
tPurchValue = PymoliDF.groupby("SN")["Price"].sum()
purchCount = PymoliDF.groupby("SN")["Price"].count()
avgPurchPrice = PymoliDF.groupby("SN")["Price"].mean()

topSpendersDF = pd.DataFrame({"Total Purchase Price": tPurchValue, 
                             "Purchase Count": purchCount, 
                             "Average Purchase Price": avgPurchPrice})

topSpendersDF.nlargest(5, "Total Purchase Price").style.format({"Total Purchase Price":"${:,.2f}", 
                                                               "Average Purchase Price":"${:,.2f}"})

In [386]:
## Most Popular Items
# Identify 5 top items by purchase count: include Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
 
purchCount = PymoliDF.groupby(["Item ID", "Item Name"])["Price"].count()
tPurchValue = PymoliDF.groupby(["Item ID", "Item Name"])["Price"].sum()
itemPrice = PymoliDF.groupby(["Item ID", "Item Name"])["Price"].mean()


mostPopItemsDF = pd.DataFrame({"Purchase Count": purchCount,
                             "Total Purchase Value": tPurchValue, 
                             "Item Price": itemPrice}).nlargest(5, "Purchase Count")\
                            .style.format({"Total Purchase Value":"${:,.2f}", "Item Price":"${:,.2f}"})
mostPopItemsDF

In [388]:
## Most Profitable Items
# Identify 5 most profitable items by total purchase value: 
# include Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
 
mostProfitItemsDF = pd.DataFrame({"Purchase Count": purchCount, 
                               "Total Purchase Value": tPurchValue, 
                               "Item Price": itemPrice}).nlargest(5, "Total Purchase Value")\
                               .style.format({"Total Purchase Value":"${:,.2f}", "Item Price":"${:,.2f}"})
mostProfitItemsDF